body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

}


.calculator {
    margin-top: 50px;
    width: 400px;
    height: 600px;
}

.leftSide {
    width: 300px;
}

.rightSide {
    width: 100px;
    margin-left: -3px;
}

.display-section {
    border: 1px solid black;
    text-align: right;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    font-weight: 600;
    width: 365px;
    height: 45px;
    margin-left: -2.5px;
    /* overflow: hidden; */
}

.display, 
.secondaryDisplay {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

   
    

#equals {
    color: white;
    background-color: rgb(79, 79, 234);
}

button {
    border-radius: 0px;
    border: 0.5px solid grey;
}

button:hover {
    background-color: rgb(182, 216, 255);

   
}

button:disabled {
    cursor: not-allowed;

    
}

.keys {
    display: flex;
    width: 400px;
    align-self: flex-end;


}

.number {
    width: 100px;
    height: 100px;
    margin: -2.5px;
    background-color: white;
    border: 0.5px solid grey;
    padding: 0;
    border-bottom: 0px;
}

#zero {
    border-bottom: 0.5px solid grey;
}

.NaN {
    width: 100px;
    height: 100px;
    margin: -2.5px;
    color: blue;
    font-weight: 650;
}

#equals:hover {
    background-color: rgb(182, 216, 255);
    color: black;
}

#zero {
    width: 199px;

}

#equals {
    height: 195px;
}